.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
  }
  
  .listWrapper {
    width: 100%;
    max-width: 64rem;
    display: flex;
    gap: 1.25rem;
  }
  
  .listSearch {
    flex: 1;
    background-color: #febb02;
    padding: .625rem;
    border-radius: 10px;
    position: sticky;
    top: .625rem;
    height: max-content;
  }
  
  .lsTitle{
    font-size: 1.25rem;
    color: #555;
    margin-bottom: .625rem;
  }
  
  .lsItem{
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    margin-bottom: .625rem;
  }
  
  .lsItem>label{
    font-size: .75rem;
  }
  
  .lsItem>input{
    height: 1.875rem;
    border: none;
    padding: .3125rem;
  }
  .lsItem>span{
    height: 1.875rem;
    padding: .3125rem;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .lsOptions{
    padding: .625rem;
  }
  
  .lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: .625rem;
    color: #555;
    font-size: .75rem;
  }
  
  .lsOptionInput{
    width: 3.125rem;
  }
  .lsOptionText{
    font-weight: bold;
  }
  .listSearch>button{
    padding: .625rem;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
  }
  
  .listResult {
    flex: 3;
  }
