.header{
    background-color: #003580 ;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer{
    width: 100%;
    max-width: 64rem;
    margin: 1.25rem 0rem 6.25rem 0rem;
}
.headerList{
    display: flex;
    gap: 2.5rem;
    margin-bottom: 3.125rem;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: .625rem;
}
.headerListItem.active{
   border: .0625rem solid white;
   padding: .625rem;
   border-radius: 1.25rem;
}
.headerDesc{
    margin: 1.25rem 0rem ;
}
.headerButton{
    background-color: #0071c2;
    border: none;
    color: white;
    font-weight: 500;
    padding: .625rem;
    cursor: pointer;
}
.headerSearch{
    height: 1.875rem;
    background-color: white;
    border: .1875rem solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .625rem 0rem;
    border-radius: .3125rem;
    position: absolute;
    bottom: -1.5625rem ;
    width: 100%;
    max-width: 64rem ;

}
.headerIcon{
    color: lightgrey;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: .625rem;

}
.headerSearchInput{
    border: none;
    outline: none;
}
.headerSearchText{
    color: lightgrey;
    cursor: pointer;
}
.date{
    position: absolute;
    top: 3.125rem;
}
.options{
    position: absolute;
    top: 3.125rem;
    background-color: white;
    color: gray;
    border: radius 5px;
    -webkit-box-shadow:0px 0rem .625rem -0.3125rem rgba(0,0,0,0);
    box-shadow: 0rem 0rem .625rem -0.3125rem rgba(0,0,0.4) ;
}
.optionItem{
    width: 12.5rem;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .75rem;
    color: black;
}
.optionCounterButton{
    width: 1.875rem;
    height: 1.875rem;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
    margin-top: .375rem;
    border-radius: 5px;
}
.optionText{
    margin-top: 10px;

}
.optionCounterButton:disabled{
    cursor: not-allowed;
    border-color: grey;
    
}
.headerContainer.listMode{
    margin: 1.25rem 0rem 0rem 0rem;
}
